<div class="row">
  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-estatus-conexion></app-estatus-conexion>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-gps></app-gps>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-index-db></app-index-db>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-modal></app-modal>
      </div>
    </div>
  </div>
</div>

<div class="row m-5">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <a
          (click)="agregarDato()"
          class="btn btn-primary"
          href="javascript:void(0)"
          role="button"
          >Agregar</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row m-5">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <h1>IndexedDB</h1>
        <h2 *ngIf="cargando">...CARGANDO...</h2>

        <div class="form-group">
          <input
            [formControl]="buscador"
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
          />
        </div>

        <table class="table table-sm">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datosMostrar">
              {{
                item | json
              }}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a
  (click)="abrirModal()"
  class="btn btn-primary"
  href="javascript:void(0)"
  role="button"
>
  Abrir modal
</a>

<codice-modal [id]="idModal" (cerrado)="modalCerrado()">
  <h1>Funciona!</h1>
</codice-modal>
